@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hangout{
    background-image: url('../images/hangout.svg');
    background-repeat: no-repeat;
    background-position: 60px 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 300px;
    height: 430px;
    background-color: #2294ed;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 10px rgb(215, 181, 247),
        inset 0 -10px #5eb9ff;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    height: 150%;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.256));
    left: -44%;
    top: -40%;
    filter: blur(35px);
    transform: rotate(35deg);
}

.c1 {
    background: linear-gradient(to bottom, hsla(0, 100%, 63%, 0.867), #ffaa95);
}

.c2 {
    background: linear-gradient(to bottom, #ff9661, #ffab3e);
}

.c3 {
    background: linear-gradient(to bottom, #ffd050, #ffe374);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background: white !important;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 120px;
    height: 100px;
}

.icon::before {
    content: '';
    position: absolute;
    left: -50px;
    height: 50px;
    width: 50px;
    border-top-right-radius: 100%;
    box-shadow: 15px -15px 0px 15px white;

}

.icon::after {
    content: '';
    position: absolute;
    left: 120px;
    height: 50px;
    width: 50px;
    border-top-left-radius: 100%;
    box-shadow: -15px -15px 0px 15px white;

}

.icon img {
    z-index: 2;
    width: 80px;
}

.content {
    color: white;
    background: none;
    position: absolute;
    width: 100%;
    padding: 20px;
    padding-top: 120px;
    margin-top: 20px;
    text-align: center;
}

.content h2 {
    margin-bottom: 20px;
}